## Import Libraries and Data

Import the required libraries and setting globals

In [33]:
import pandas as pd
import sklearn as sl
import numpy as np

TEST_DATA_FILE_NAME = 'test.csv'
TRAIN_DATA_FILE_NAME = 'train.csv'

Importing the data

In [34]:
train_data = pd.read_csv(TRAIN_DATA_FILE_NAME)
test_data = pd.read_csv(TEST_DATA_FILE_NAME)

## Describe Data

First look at our data set, features and make decisions about the tools we are going to use

#### What are the features in dataset?

In [16]:
print(train_data.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

https://www.kaggle.com/c/titanic/data

* Survived - Survival	(0 = No, 1 = Yes)
* Pclass - Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
* Name - Name
* Sex - Sex	
* Age - Age in years	
* Sibsp - # of siblings / spouses aboard the Titanic	
* Parch - # of parents / children aboard the Titanic	
* Ticket - Ticket number	
* Fare - Passenger fare	
* Cabin - Cabin number	
* Embarked - Port of Embarkation

Pclass is an indication for social economic class. Fare could be as well, the higher the price the higher the social economic class.

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

#### hypotheses

One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. 

* Age - the younger the passenger the higher the chance of survival
* Sex - women had a higher chance of survival
* Pclass or fare - passengers with higher social econmic status had a higher chance of surival
* Ticket number has no correlation with survival rate, since it is assigned randomly
* Passengers who had children or had children aboard had a higher chance of survival
* Certain cabin numbers due to the position on the ship had a higher/lower rate of survival

#### Categorical Features?

We can separate the data in similar set based on the categorical features. Within the categories, which are nominal, ordinal or ratio based?

* Survived (nominal)
* Pclass (ordinal)
* Sex (nominal)
* Embarked (nominal)

#### Numerical Features?

The values for numerical features change per data set. Are the numerical features discrete, continuous or timeseries?

* Age (continuous)
* Fare (continuous)
* Sibsp (discrete)
* Parch (discrete)

In [35]:
#preview the data
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Any features with mixed data types?

Ticket is sometimes numerical, sometimes alphanumerical. Cabin is alphanumerical. We need to some corrections on this data

#### Features that may contain errors?

Name may contain errors in the title, because there are multiple ways to describe a title.  And the name itself might have spelling errors

In [36]:
train_data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

#### features with blank or null values?

We will need to do correcting on those

* Age
* Cabin

#### data types for the various features

In [37]:
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

6 features are floats or integers. 5 are objects(strings) in the test data. For the train data that is 7 floats or integers, because we have Survived as well

#### Distribution numerical values

In [38]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

* We have 891 samples in our data data. Age has only 714 values.
* The average age is around 29.7 years old with a standard deviation of 14.5
* less than half of the people in our sample data with a mean of 0.38 for survived. The actual survival rate is known and is 32%
* Most passengers did not travel with children
* Fairs varied significantly

#### Distribution of categorical features

In [39]:
#describe include objects
train_data.describe(include=['O'])

                      Name   Sex    Ticket        Cabin Embarked
count                  891   891       891          204      889
unique                 891     2       681          147        3
top     Moor, Mrs. (Beila)  male  CA. 2343  C23 C25 C27        S
freq                     1   577         7            4      644

* Tickets are mostly unique, 681 out of 891. Bu that's 210 similar tickets
* Cabin numbers ate mostly unique, 147 out of 204. That is probably because of multiple people in same cabin.
* There are 3 ports of embarked. Biggest part of them from Southampton with 644 people out of 889.

## Assumptions based on describing the data

#### Correlating

We are going to check how well each feature correlates with Survived

* Definately check Age for correlation with Survived
* Do this for Pclass as well
* Also check Embarked for correlation. Maybe it is correlated with other features too

#### Correcting

* Age has a lot of missing values in both training and test set
* Cabin has a lot of missing values in both training and test set
* Embarked has 2 missing values in training set
* Drop Ticket from analysis because they seem to be randomly assigned and has a lot of duplicates
* Initially Cabin might have to do something with position on the ship and may have correlation, but we have a lot missing values so we can drop this feature
* Drop Passenger ID, it goes from 0 to last only and has nothing to do with Survived
* Name most probably doesnt correlate with Survived. Maybe the title has something to do with Social Economic Class and correlated with Survival? Need to explore that.

#### Creating

* Create new feature family to get total count including siblings, children, parents
* Extract title into a new feature
* Turn age in an ordinal feature with ranges
* Turn fare in an ordinal feature with ranges

#### Classifying

It makes sense to quickly check for correlations in a first analysis:

* Ses have a higher chance of survival (Sex)
* Children have a higher chance of survival
* Higher social class has a higher chance of survival (Pclass)